node_modules/
.next/
out/
dist/
build/
cdk.out/
.env
.env.local
.env.*.local
*.tfstate
*.tfstate.backup
.docker/data/
.dynamodb/
coverage/
.turbo/
.cache/
.pnpm-store/
.DS_Store
*.log
*.tsbuildinfo
playwright-report/
test-results/
dev-log/
